{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
    <!-- Hero Section -->
    <!-- HERO SECTION -->
    <section class="bg-stone-900 py-20 relative overflow-hidden" id="gradient-light">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
            <h1 class="text-4xl font-bold text-stone-100 mb-4">Welcome to DataYatra</h1>
            <p class="text-lg text-stone-200 mb-8">Your journey to mastering data science starts here.</p>
            <a href="{% url 'practice:question_list' %}" class="text-indigo-300 hover:text-indigo-400 p-3 bg-stone-700 hover:bg-stone-800 rounded shadow-md hover:shadow-[0_0_10px_3px_rgba(129,140,248,0.7)] drop-shadow-[0_4px_6px_rgba(99,102,241,0.5)] hover:drop-shadow-[0_6px_10px_rgba(99,102,241,0.7)] transition duration-300"> >Practice SQL</a>

        </div>
    </section>

    <!-- Course Section -->
    <section class="py-10 bg-stone-900">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
            <h2 class="text-3xl font-bold text-stone-100 mb-8 text-center">Featured Courses</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 ">
                <div class="bg-stone-800 p-6 rounded-lg drop-shadow-[0_4px_6px_rgba(99,102,241,0.5)] hover:drop-shadow-[0_6px_10px_rgba(99,102,241,0.7)]   hover:shadow-lg hover:-translate-y-1 transition-all duration-300">
                    <h3 class="text-xl font-semibold mb-2 text-stone-100">Python Basics</h3>
                    <p class="text-stone-400 mb-4">Learn the fundamentals python with interactive assignments.</p>
                    <a href="{% url 'course:index' %}" class="text-indigo-300 hover:text-indigo-400 p-3 bg-stone-700 hover:bg-stone-800 shadow-md hover:shadow-lg rounded hover:underline">Start Learning</a>
                </div>
                <div class="bg-stone-800 p-6 rounded-lg drop-shadow-[0_4px_6px_rgba(99,102,241,0.5)] hover:drop-shadow-[0_6px_10px_rgba(99,102,241,0.7)]   hover:shadow-lg hover:-translate-y-1 transition-all duration-300">
                    <h3 class="text-xl font-semibold mb-2 text-stone-100">SQL</h3>
                    <p class="text-stone-400 mb-4">Explore the world of SQL with hands on practice.</p>
                    <a href="#" class="text-indigo-300  p-3 bg-stone-700  shadow-md  rounded ">Coming Soon</a>
                </div>
                <div class="bg-stone-800 p-6 rounded-lg drop-shadow-[0_4px_6px_rgba(99,102,241,0.5)] hover:drop-shadow-[0_6px_10px_rgba(99,102,241,0.7)]   hover:shadow-lg hover:-translate-y-1 transition-all duration-300">
                    <h3 class="text-xl font-semibold mb-2 text-stone-100">Data Visualization</h3>
                    <p class="text-stone-400 mb-4">Master data visualization tools and techniques.</p>
                    <a href="#" class="text-indigo-300  p-3 bg-stone-700  shadow-md  rounded ">Coming Soon</a>
                </div>
            </div>
        </div>
    
{% endblock %}